<div class="page-header">
  <h1><%= @user.display_name %></h1>
</div>



<% if @posts %>
    <% @posts.each do |post| %>
        <div class="well">
          <%= post.content %>
          <hr />
          <%= link_to time_ago_in_words(post.created_at), post_path(post) %> ago
        </div>
    <% end %>
<% end %>