<h1  style="text-align: center; color: #0044cc;">Editing posts</h1>

<div style="margin-left: 30%; margin-right: 20%" >
<%= render 'form' %>
  <%= link_to 'Show', @post,class: 'btn btn-info' %> |
  <%= link_to 'Back', posts_path,class: 'btn btn-warning' %>
  <br>
  <br>
  <br>
</div>

