<h1 style="text-align: center; color: #0044cc;" >New post</h1>

<div style="margin-left: 30%; margin-right: 20%" >
    <%= render 'form' %>

  <%= link_to 'Back', posts_path, class: 'btn btn-warning' %>
  <br>
  <br>
  <br>
  <br>
</div>


